include layout
  if currentUser
    h1.Header Welcome back #{currentUser.name}
    //-div #{JSON.stringify(currentUser)}
    h1.AppName Fund Koala
    h2.Header Feed The Koala. 
    h4.AboutKoala Raise Money. Give Money. Build Community.
    br
    br
    br
    br
    .clearfix.visible-xs-block
    button.btn(type='button', style='background-color:white;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%')
          a(href="/signup").btn Create A Fund - Sign Up
  else
    h1.AppName Fund Koala
    h2.Header Feed The Koala.
    h4.AboutKoala Raise Money. Give Money. Build Community.
    br
    br
    br
    br
    .clearfix.visible-xs-block
    button.btn(type='button', style='background-color:white;margin-left:auto;margin-right:auto;display:block;margin-top:22%;margin-bottom:0%')
          a(href="/signup").btn Create A Fund - Sign Up
