include layout
  if currentUser
    h1.Header Welcome back #{currentUser.name}
    //-div #{JSON.stringify(currentUser)}
    h1.AppName Fund Koala
    h2.Header We're Koalafied to manage your FUNds!
    h4.AboutKoala An App that helps you save money in a shared fund
    br
    br
    br
    br
    .clearfix.visible-xs-block
    .col-xs-5
    button.btn
          a(href="/funds/new").btn Create A Fund 
  else
    h1.AppName Fund Koala
    h2.Header We're Koalafied to manage your FUNds!
    h4.
    br
    br
    br
    br
    .clearfix.visible-xs-block
    .col-xs-5
    button.btn
          a(href="/signup").btn Create A Fund - Sign Up
