include layout
  if user
    h1 Welcome back #{user.name}
    div #{JSON.stringify(user)}
  else
    h1 Fund Koala
    h2 We're Koalafied to manage your FUNds!

  button#login Log In
  h1.AppName Fund Koala
  h2.Header2 We're Koalafied to manage your FUNds!
  br
  br
  button#create_fund Create A Fund
  h4.AboutKoala An App that helps you save money in a shared fund
