html
  head
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-2.2.4.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
    link(href="/style.css", rel="stylesheet")
    script(src="/client.js")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')


  body.bkimg
    .container-fluid
    nav.navbar.navbar-inverse
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') FundKoala
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/funds/new') New Fund
            li
              a(href='/') Dashboard
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#")
                span.glyphicon.glyphicon-user
                |  Profile
            li
              a(href="/signin")
                span.glyphicon.glyphicon-log-in
                |  Login
            li
              a(href="/signout")
                span.glyphicon.glyphicon-log-in
                |  Logout
    div.temp-pad
      yield
