//- TODO figure out how to import mixins
mixin form-errors(errors, property)
  ol.errors
    each error in errors
      if error && error.property === property
        li #{error.msg}

include layout
  h1 Sign In
  .row
    .col-xs-12.col-sm-6.col-md-8 
      p
        span Don't have an account?
        a(href="/signup?"+query).link   Click here to sign up

      form(method="post", action="/signin")
        input(type="hidden" name="goto" value=goto)

        if loginFailed
          h2 Bad username or password

        fieldset.form-group
          label(for="user-email") Email Address
          input.form-control(type="text", name="email" id="user-email" value=email)
          small.text-muted We'll never share your email with anyone else.

        fieldset.form-group
          label(for="user-password") Password
          input.form-control(type="password", name="password" id="user-password")


        button.btn.btn-primary(type="submit") Login
