include ../layout
  h1.span Hey #{invite.name}
  .h2.span Would you like to join the "#{fund.name}" fund?

  form(method="get")
    button(type="submit", name="action" value="accept") yes
    button(type="submit", name="action" value="reject") no
